services:
  kamiko-portal:
    image: nginx:alpine
    container_name: kamiko-web
    ports:
      - "80:80"
    volumes:
      - ./dist:/usr/share/nginx/html:ro
    restart: always
    deploy:
      resources:
        limits:
          memory: 128M
    tunnel:
      image: cloudflare/cloudflared:latest
      restart: always
      command: tunnel run --token ${TUNNEL_TOKEN}
      env_file: .env